@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none; 
}

body {
    font-family: lato, sans-serif;
    width: 100%;
    font-weight: 200;
    color: #708090;
    background-color: #ffffff;
}


 
/*logo and headings*/

#logo {
    margin-left: 20px;
    float: left;
    font-size: 300%;
    margin-bottom: 20px;
    height: 40px;
}

h1 {
    text-transform:uppercase;
    color: #a9a9a9;
    font-family: lato, sans-serif;
    letter-spacing: 10px;
}

h2 {
    font-family: lato, sans-serif;
    color: #708090;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
}

h2 {
    text-align: center;
}

/*Nvigation links*/

#menu {
    float: right;
    margin-right: 30px;
    font-size: 150%;
    height: 40px;
    margin-top: 20px;
    color: #a9a9a9;
    letter-spacing: 5px;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #a9a9a9;
}

#menu a:hover {
    border-bottom: 1px solid #a9a9a9;
}

/*About IPA*/

#about {
    width: 100%;
    height: 600px;
    background-color: #ffa6005e;
    display: block;
    float: left;
}

p {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    line-height: 2;
}

#about-inner {
    width: 100%;
    float: left;
    text-align: center;
}
iframe #iframe-blank{
    padding-top: 20px;
    display: block;
    margin: 0 auto;
}

#iframe-blank {
    height: 50px;
}

/*Hero image*/

#hero {
    width: 100%;
    height: 650px;
    background: url('../images/beer-and-hops-2700.jpg') no-repeat center center;
}

#ale{
    width: 100%;
    height: 650px;
    margin: 0 auto;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: #70809073;

    width: 300px;
    height: 200px;

    padding-top: 60px;
    


    bottom: 10px;
    right: 150px;

    float: right;
    
}

/* Types of IPA */

#types {
    background-color: #daa520b2;
    float: left;
    width: 100%;
    height: 350px;
    border-top: 2px solid #708090;
}

#ipa {
    list-style-type: circle;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 120%;
    line-height: 30px;
}

h2 {
    margin-top: 20px;
}

/* Footer */

footer {
    height: 100px;
    width: 100%;
    border-top: 2px solid #708090;
}

.social-links > li {
    display: inline;
}

.social-links {
    text-align: center;
    background-color: #ffffff;
    height: 100px;
}

.social-links i {
    font-size: 200%;
    padding: 1%;
    margin: 1%;
    color: #a9a9a9;
}

h3 {
    color: #a9a9a9;
    font-family: lato, sans-serif;
    text-align: center;
    height: 30px;
    margin-top: 2px;
    padding-top: 10px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/* Form styling */

.win {
    background-color: #ffffff;
    height: 130px;
    width: 100%;
    margin-bottom: 0;
}

.win > h2 {
    margin-top: 20px;
    padding-top: 10px;
}

form {
    background-color: #ffffff;
    height: 450px;
    margin-top: 20px;
    
}


.details {
    background-color: #ffffff;
    border: 2px solid #a9a9a9;
    height: 100px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid #a9a9a9; 
}

#credentials {
    text-align: center;
    margin: 0 auto;
     
    
}

#fname, #lname, #email, #age {
    background-color: #ffffff;
    color: #a9a9a9;
    border: 1px solid #a9a9a9;
    margin-right: 20px;
}

.selection {
    background-color: #ffffff;
    border: 2px solid #a9a9a9;
    height: 100px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

#types-ipa {
    height: 50px;
    margin-top: 20px;
    margin: 0 auto;
    text-align: center;
}

#new-england, #black, #double, #american, #session, #triple, #west-coast, #english, #sour {
    margin-left: 8px;
}

.blank {
    height: 20px;
}

#new-england-ipa-radio, #black-ipa-radio, #double-ipa-radio, #american-ipa-radio, 
#session-ipa-radio, #triple-ipa-radio, #west-coast-ipa-radio, #english-ipa-radio, #sour-ipa-radio {
    margin-left: 20px;
    margin-top: 20px;
}

.feedback {
    background-color: #ffffff;
    border: 2px solid #a9a9a9;
    height: 100px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

#feedback {
    background-color: #ffffff;
    border: 1px solid #a9a9a9;
    color: #a9a9a9;
    margin-left: 30px;
    margin-top: 15px;
}

button {
    background-color: darkslategray;
    color: #fffff0;
    border-radius: 2px;
    height: 20px;
    width: 90px;
    margin-right: 5px;
}

.submit {
    margin-left: 65px;
    margin-top: 20px;
}

/* Contact Page */

#contact {
    height: 150px;
}

#number {
    height: 100px;
    width: 33%;
    float: left;
}

#opening-hours{
    height: 150px;
    width: 33%;
    float: right;
}

table {
    margin: 0 auto;
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
}

.information {
    width: 100%;
    margin: 0 auto;
}

img {
    display: inline;
    margin: 0 auto;
    width: 33%;
}

#map > iframe{
    margin: 0 auto;
    width: 70%;
    display: block;
    
}

#map > h2 {
    padding-bottom: 20px;
}
/* Media Query */

/* For larger to medium screens 1200px wide and down */

@media screen and (max-width: 1200px){
     #about{
        width: 100%;
        height: 600px;
        margin: 0 auto;
        font-size: 80%;
    }
     #types {
        width: 100%;
        height: 400px;
        margin: 0 auto;
        font-size: 80%;
    }
 
    .win {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        font-size: 80%;
    }

    .details {
        margin: 0 auto;
        height: 100px;
    }

    #credentials {
        margin: 0 auto;
    }

    #fname, #lname, #email {
        width: 100px;
    }

    #hero {
    width: 100%;
    height: 650px;
    background: url('../images/craft-beer-hero-image.jpg') no-repeat center center;
    }

    #cover-text {
        float: left;
        
    }

    #cover-text > h3 {
        color:black;
    }

    #types-ipa {
        font-size: 70%;
    }

    #number, #opening-hours {
        width: 100%;
        float: left;
    }

    .information {
        height: 500px;
    }

    img {
        margin: 0 auto;
        display: block;
        
    }

    .content {
        width: 100%;
    }
    

    
}

/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    
    #cover-text {
        color: black;
    }

    nav {
        float: left;
        padding-left: 20px;
        
    }

    #content {
        width: 100%;
    }

    #about-inner > iframe {
        width: 330px;
        height: 200px;
    }

    #about {
        height: 400px;
        
    }

    #types {
        height: 800px;
        float: right;
        font-size: 60%;
        margin-left: 0;
    }

    #ipa {
        float: left;
        margin-left: 50px;
    }

    #menu {
        font-size: 100%;
    }

    #logo {
        font-size: 200%;
    }

    #contact {
        height: 200px;
    }

    .win {
        font-size: 60%;
        height: 150px;
    }

    .win > p {
        margin-top: 30px;
        height: 50px;
    }
    
    form {
        margin: 0;
    }

    .details {
        height: 160px;
        margin-top: 10px;
        
    }

    #credentials {
        
        font-size: 80%;
    }

    #fname, #lname, #email, #age {
        width: 150px;
        display: block;
        margin: 0 auto;
        
    }

    .blank {
        height: 0;
    }

    .selection {
        height: 160px;
        margin-top: 10px;
    }

    #new-england-ipa-radio, #black-ipa-radio, #double-ipa-radio, #american-ipa-radio, #session-ipa-radio, #triple-ipa-radio, #west-coast-ipa-radio, #english-ipa-radio, #sour-ipa-radio {
        display: inline-block;
        margin-left: 15px;
    }

    #types-ipa {
        height: 150px;
    }

    .feedback {
        height: 160px;
    }

    .content {
        height: 1500px;
    }

    #feedback {
        height: 50px;
        width: 200px;
    }

    

    
}

/* For small screen sizes from 350px wide and down */

@media screen and (max-width: 350px) {
    #hero {
        width: 100%;
        height: 500px;
        background: url('../images/lone-ipa.jpg') no-repeat center center;
    }

    #logo {
        font-size: 150%;
    }

    #menu {
        font-size: 80%;
        float: left;
        margin-top: 0;
    }

    #cover-text {
        font-size: 80%;
        width: 100%;
    }

    #about-inner>iframe {
    width: 200px;
    height: 200px;
    }

    #contact {
        font-size: 80%;
        height: 200px;
        
    }

    .information {
        height: 200px;
    }

    #number {
        font-size: 80%;
    }

    #opening-hours {
        font-size: 80%;
        height: 150px;
    }

    #map > h2 {
        font-size: 80%;
    }

    #map > h3 {
        font-size: 80%;
    }

    
}
